In [2]:
# Dependencies
import numpy as np
import pandas as pd
from matplotlib import style
style.use('seaborn-darkgrid')
import matplotlib.pyplot as plt
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, extract, inspect

In [5]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [6]:
inspector_gadget = inspect(engine)
table_names = inspector_gadget.get_table_names()

In [8]:
table_names

['measurement', 'station']

In [30]:
for table in inspector.get_table_names():
    for column in inspector.get_columns(table):
        print(table + " " + column['name'])

measurement id
measurement station
measurement date
measurement prcp
measurement tobs
station id
station station
station name
station latitude
station longitude
station elevation

In [56]:
conn = engine.connect()
query = '''
    select * from Measurement
    where date like "%-06-%"
    '''
df = pd.read_sql(query, conn)
df.head()

    id      station        date  prcp  tobs
0  134  USC00519397  2010-06-01  0.00  78.0
1  135  USC00519397  2010-06-02  0.01  76.0
2  136  USC00519397  2010-06-03  0.00  78.0
3  137  USC00519397  2010-06-04  0.00  76.0
4  138  USC00519397  2010-06-05  0.00  77.0

In [59]:
df.sample(n=15)

         id      station        date  prcp  tobs
287    3259  USC00513117  2011-06-22  0.22  74.0
1511  17448  USC00516128  2011-06-13  0.41  68.0
1262  14535  USC00519281  2016-06-11  0.13  72.0
131    1568  USC00519397  2014-06-16  0.00  78.0
803    8988  USC00517948  2017-06-28  0.00  80.0
984   11122  USC00519523  2014-06-25  0.07  74.0
453    5384  USC00513117  2017-06-12  0.19  76.0
215    2653  USC00519397  2017-06-10  0.04  77.0
577    6679  USC00514830  2014-06-27  0.08  78.0
742    8417  USC00517948  2014-06-09   NaN  79.0
363    4317  USC00513117  2014-06-08  0.02  75.0
1681  19479  USC00516128  2017-06-12  0.81  74.0
437    5033  USC00513117  2016-06-26  0.06  75.0
1043  11797  USC00519523  2016-06-27  0.00  81.0
340    3963  USC00513117  2013-06-15  0.01  74.0

## D1: Determine the Summary Statistics for June

In [8]:
# 1. Import the sqlalchemy extract function.
# from sqlalchemy import extract
# june = dt.date('', 6, '%d')

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
results = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "06").all()
results

[('2010-06-01', 78.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 78.0),
 ('2010-06-04', 76.0),
 ('2010-06-05', 77.0),
 ('2010-06-06', 78.0),
 ('2010-06-07', 77.0),
 ('2010-06-08', 78.0),
 ('2010-06-09', 78.0),
 ('2010-06-10', 79.0),
 ('2010-06-11', 78.0),
 ('2010-06-12', 78.0),
 ('2010-06-13', 78.0),
 ('2010-06-14', 77.0),
 ('2010-06-15', 78.0),
 ('2010-06-16', 78.0),
 ('2010-06-17', 77.0),
 ('2010-06-18', 77.0),
 ('2010-06-19', 82.0),
 ('2010-06-20', 78.0),
 ('2010-06-21', 78.0),
 ('2010-06-22', 78.0),
 ('2010-06-23', 78.0),
 ('2010-06-24', 78.0),
 ('2010-06-25', 77.0),
 ('2010-06-26', 76.0),
 ('2010-06-27', 78.0),
 ('2010-06-28', 78.0),
 ('2010-06-29', 78.0),
 ('2010-06-30', 78.0),
 ('2011-06-01', 77.0),
 ('2011-06-02', 78.0),
 ('2011-06-03', 73.0),
 ('2011-06-04', 70.0),
 ('2011-06-05', 76.0),
 ('2011-06-06', 77.0),
 ('2011-06-07', 77.0),
 ('2011-06-08', 77.0),
 ('2011-06-09', 77.0),
 ('2011-06-10', 78.0),
 ('2011-06-11', 77.0),
 ('2011-06-12', 77.0),
 ('2011-06-13', 78.0),
 ('2011-06-14', 78.0),
 ('2011-06-15', 77.0),
 ('2011-06-17', 78.0),
 ('2011-06-18', 78.0),
 ('2011-06-19', 75.0),
 ('2011-06-20', 76.0),
 ('2011-06-21', 76.0),
 ('2011-06-24', 77.0),
 ('2011-06-25', 78.0),
 ('2011-06-26', 76.0),
 ('2011-06-27', 77.0),
 ('2011-06-28', 75.0),
 ('2011-06-29', 77.0),
 ('2012-06-01', 76.0),
 ('2012-06-02', 76.0),
 ('2012-06-03', 75.0),
 ('2012-06-04', 77.0),
 ('2012-06-05', 77.0),
 ('2012-06-06', 76.0),
 ('2012-06-07', 78.0),
 ('2012-06-08', 77.0),
 ('2012-06-09', 76.0),
 ('2012-06-10', 77.0),
 ('2012-06-11', 76.0),
 ('2012-06-12', 76.0),
 ('2012-06-13', 77.0),
 ('2012-06-14', 77.0),
 ('2012-06-15', 78.0),
 ('2012-06-16', 77.0),
 ('2012-06-17', 77.0),
 ('2012-06-18', 77.0),
 ('2012-06-19', 76.0),
 ('2012-06-20', 75.0),
 ('2012-06-21', 76.0),
 ('2012-06-22', 76.0),
 ('2012-06-23', 77.0),
 ('2012-06-24', 76.0),
 ('2012-06-25', 73.0),
 ('2012-06-26', 73.0),
 ('2012-06-27', 75.0),
 ('2012-06-28', 77.0),
 ('2012-06-29', 76.0),
 ('2012-06-30', 77.0),
 ('2013-06-01', 79.0),
 ('2013-06-02', 78.0),
 ('2013-06-03', 79.0),
 ('2013-06-04', 78.0),
 ('2013-06-05', 78.0),
 ('2013-06-06', 79.0),
 ('2013-06-07', 77.0),
 ('2013-06-08', 77.0),
 ('2013-06-09', 77.0),
 ('2013-06-10', 77.0),
 ('2013-06-11', 77.0),
 ('2013-06-12', 78.0),
 ('2013-06-13', 77.0),
 ('2013-06-14', 76.0),
 ('2013-06-15', 78.0),
 ('2013-06-16', 78.0),
 ('2013-06-17', 77.0),
 ('2013-06-18', 78.0),
 ('2013-06-19', 78.0),
 ('2013-06-20', 73.0),
 ('2013-06-21', 76.0),
 ('2013-06-22', 77.0),
 ('2013-06-23', 75.0),
 ('2013-06-24', 76.0),
 ('2013-06-25', 74.0),
 ('2013-06-26', 75.0),
 ('2013-06-27', 77.0),
 ('2013-06-28', 76.0),
 ('2013-06-29', 77.0),
 ('2013-06-30', 78.0),
 ('2014-06-01', 79.0),
 ('2014-06-02', 77.0),
 ('2014-06-03', 78.0),
 ('2014-06-04', 79.0),
 ('2014-06-05', 78.0),
 ('2014-06-06', 78.0),
 ('2014-06-07', 78.0),
 ('2014-06-08', 78.0),
 ('2014-06-09', 79.0),
 ('2014-06-10', 79.0),
 ('2014-06-11', 82.0),
 ('2014-06-12', 80.0),
 ('2014-06-13', 79.0),
 ('2014-06-14', 79.0),
 ('2014-06-15', 78.0),
 ('2014-06-16', 78.0),
 ('2014-06-17', 77.0),
 ('2014-06-18', 78.0),
 ('2014-06-19', 78.0),
 ('2014-06-20', 73.0),
 ('2014-06-21', 75.0),
 ('2014-06-22', 75.0),
 ('2014-06-23', 76.0),
 ('2014-06-24', 84.0),
 ('2014-06-25', 79.0),
 ('2014-06-26', 76.0),
 ('2014-06-27', 79.0),
 ('2014-06-28', 79.0),
 ('2014-06-29', 77.0),
 ('2014-06-30', 79.0),
 ('2015-06-01', 78.0),
 ('2015-06-02', 78.0),
 ('2015-06-03', 79.0),
 ('2015-06-04', 77.0),
 ('2015-06-05', 79.0),
 ('2015-06-06', 78.0),
 ('2015-06-07', 78.0),
 ('2015-06-08', 78.0),
 ('2015-06-09', 79.0),
 ('2015-06-10', 77.0),
 ('2015-06-11', 78.0),
 ('2015-06-12', 78.0),
 ('2015-06-13', 78.0),
 ('2015-06-14', 78.0),
 ('2015-06-15', 79.0),
 ('2015-06-16', 79.0),
 ('2015-06-17', 77.0),
 ('2015-06-18', 78.0),
 ('2015-06-19', 78.0),
 ('2015-06-20', 78.0),
 ('2015-06-21', 79.0),
 ('2015-06-22', 79.0),
 ('2015-06-23', 77.0),
 ('2015-06-24', 79.0),
 ('2015-06-25', 79.0),
 ('2015-06-26', 79.0),
 ('2015-06-27', 81.0),
 ('2015-06-28', 76.0),
 ('2015-06-29', 80.0),
 ('2015-06-30', 78.0),
 ('2016-06-01', 76.0),
 ('2016-06-02', 71.0),
 ('2016-06-03', 71.0),
 ('2016-06-04', 74.0),
 ('2016-06-05', 76.0),
 ('2016-06-06', 78.0),
 ('2016-06-07', 77.0),
 ('2016-06-08', 77.0),
 ('2016-06-09', 73.0),
 ('2016-06-10', 77.0),
 ('2016-06-11', 78.0),
 ('2016-06-12', 78.0),
 ('2016-06-13', 80.0),
 ('2016-06-14', 79.0),
 ('2016-06-15', 78.0),
 ('2016-06-16', 77.0),
 ('2016-06-17', 76.0),
 ('2016-06-18', 77.0),
 ('2016-06-19', 77.0),
 ('2016-06-20', 78.0),
 ('2016-06-21', 80.0),
 ('2016-06-22', 79.0),
 ('2016-06-23', 79.0),
 ('2016-06-24', 77.0),
 ('2016-06-25', 78.0),
 ('2016-06-26', 79.0),
 ('2016-06-27', 80.0),
 ('2016-06-28', 76.0),
 ('2016-06-29', 79.0),
 ('2016-06-30', 80.0),
 ('2017-06-01', 79.0),
 ('2017-06-02', 79.0),
 ('2017-06-03', 79.0),
 ('2017-06-04', 79.0),
 ('2017-06-05', 80.0),
 ('2017-06-06', 79.0),
 ('2017-06-07', 79.0),
 ('2017-06-08', 80.0),
 ('2017-06-09', 80.0),
 ('2017-06-10', 77.0),
 ('2017-06-11', 79.0),
 ('2017-06-12', 83.0),
 ('2017-06-13', 80.0),
 ('2017-06-14', 80.0),
 ('2017-06-15', 78.0),
 ('2017-06-16', 79.0),
 ('2017-06-17', 80.0),
 ('2017-06-18', 77.0),
 ('2017-06-19', 80.0),
 ('2017-06-20', 78.0),
 ('2017-06-21', 79.0),
 ('2017-06-22', 80.0),
 ('2017-06-23', 78.0),
 ('2017-06-24', 80.0),
 ('2017-06-25', 80.0),
 ('2017-06-26', 81.0),
 ('2017-06-27', 80.0),
 ('2017-06-28', 79.0),
 ('2017-06-29', 79.0),
 ('2017-06-30', 75.0),
 ('2010-06-01', 74.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 75.0),
 ('2010-06-04', 75.0),
 ('2010-06-05', 74.0),
 ('2010-06-06', 75.0),
 ('2010-06-07', 75.0),
 ('2010-06-08', 75.0),
 ('2010-06-09', 75.0),
 ('2010-06-10', 75.0),
 ('2010-06-11', 83.0),
 ('2010-06-12', 75.0),
 ('2010-06-13', 76.0),
 ('2010-06-14', 73.0),
 ('2010-06-15', 74.0),
 ('2010-06-16', 74.0),
 ('2010-06-17', 75.0),
 ('2010-06-18', 70.0),
 ('2010-06-19', 74.0),
 ('2010-06-20', 75.0),
 ('2010-06-21', 75.0),
 ('2010-06-22', 75.0),
 ('2010-06-23', 75.0),
 ('2010-06-24', 75.0),
 ('2010-06-25', 74.0),
 ('2010-06-26', 72.0),
 ('2010-06-27', 76.0),
 ('2010-06-28', 73.0),
 ('2010-06-29', 75.0),
 ('2010-06-30', 76.0),
 ('2011-06-01', 74.0),
 ('2011-06-02', 75.0),
 ('2011-06-03', 71.0),
 ('2011-06-04', 69.0),
 ('2011-06-05', 69.0),
 ('2011-06-06', 74.0),
 ('2011-06-07', 71.0),
 ('2011-06-08', 74.0),
 ('2011-06-09', 74.0),
 ('2011-06-10', 75.0),
 ('2011-06-11', 73.0),
 ('2011-06-12', 73.0),
 ('2011-06-13', 73.0),
 ('2011-06-14', 75.0),
 ('2011-06-15', 75.0),
 ('2011-06-16', 74.0),
 ('2011-06-17', 74.0),
 ('2011-06-18', 75.0),
 ('2011-06-19', 74.0),
 ('2011-06-20', 73.0),
 ('2011-06-21', 72.0),
 ('2011-06-22', 74.0),
 ('2011-06-23', 72.0),
 ('2011-06-24', 75.0),
 ('2011-06-25', 76.0),
 ('2011-06-26', 74.0),
 ('2011-06-27', 74.0),
 ('2011-06-28', 74.0),
 ('2011-06-29', 74.0),
 ('2011-06-30', 74.0),
 ('2012-06-01', 71.0),
 ('2012-06-02', 71.0),
 ('2012-06-03', 75.0),
 ('2012-06-04', 72.0),
 ('2012-06-05', 72.0),
 ('2012-06-06', 73.0),
 ('2012-06-07', 73.0),
 ('2012-06-08', 73.0),
 ('2012-06-09', 74.0),
 ('2012-06-10', 73.0),
 ('2012-06-11', 72.0),
 ('2012-06-12', 72.0),
 ('2012-06-13', 70.0),
 ('2012-06-14', 72.0),
 ('2012-06-15', 72.0),
 ('2012-06-16', 72.0),
 ('2012-06-17', 74.0),
 ('2012-06-18', 73.0),
 ('2012-06-19', 73.0),
 ('2012-06-20', 70.0),
 ('2012-06-21', 73.0),
 ('2012-06-22', 72.0),
 ('2012-06-23', 73.0),
 ('2012-06-24', 69.0),
 ('2012-06-25', 72.0),
 ('2012-06-26', 71.0),
 ('2012-06-27', 71.0),
 ('2012-06-28', 73.0),
 ('2012-06-29', 73.0),
 ('2012-06-30', 72.0),
 ('2013-06-01', 75.0),
 ('2013-06-02', 75.0),
 ('2013-06-03', 75.0),
 ('2013-06-04', 75.0),
 ('2013-06-05', 74.0),
 ('2013-06-06', 74.0),
 ('2013-06-07', 74.0),
 ('2013-06-08', 75.0),
 ('2013-06-09', 75.0),
 ('2013-06-10', 74.0),
 ('2013-06-11', 75.0),
 ('2013-06-12', 75.0),
 ('2013-06-13', 74.0),
 ('2013-06-14', 72.0),
 ('2013-06-15', 74.0),
 ('2013-06-16', 74.0),
 ('2013-06-17', 74.0),
 ('2013-06-18', 74.0),
 ('2013-06-19', 74.0),
 ('2013-06-20', 72.0),
 ('2013-06-21', 70.0),
 ('2013-06-22', 75.0),
 ('2013-06-23', 74.0),
 ('2013-06-24', 71.0),
 ('2013-06-25', 71.0),
 ('2013-06-26', 70.0),
 ('2013-06-27', 73.0),
 ('2013-06-28', 71.0),
 ('2013-06-29', 71.0),
 ('2013-06-30', 77.0),
 ('2014-06-01', 77.0),
 ('2014-06-02', 74.0),
 ('2014-06-03', 73.0),
 ('2014-06-04', 75.0),
 ('2014-06-05', 75.0),
 ('2014-06-06', 74.0),
 ('2014-06-07', 74.0),
 ('2014-06-08', 75.0),
 ('2014-06-09', 75.0),
 ('2014-06-10', 72.0),
 ('2014-06-11', 74.0),
 ('2014-06-12', 76.0),
 ('2014-06-13', 76.0),
 ('2014-06-14', 75.0),
 ('2014-06-15', 75.0),
 ('2014-06-16', 74.0),
 ('2014-06-17', 72.0),
 ('2014-06-18', 74.0),
 ('2014-06-19', 75.0),
 ('2014-06-20', 70.0),
 ('2014-06-21', 71.0),
 ('2014-06-22', 72.0),
 ('2014-06-23', 71.0),
 ('2014-06-24', 73.0),
 ('2014-06-25', 74.0),
 ('2014-06-26', 72.0),
 ('2014-06-27', 74.0),
 ('2014-06-28', 76.0),
 ('2014-06-29', 72.0),
 ('2014-06-30', 75.0),
 ('2015-06-03', 75.0),
 ('2015-06-04', 72.0),
 ('2015-06-05', 70.0),
 ('2015-06-06', 76.0),
 ('2015-06-07', 78.0),
 ('2015-06-08', 72.0),
 ('2015-06-09', 74.0),
 ('2015-06-10', 74.0),
 ('2015-06-11', 72.0),
 ('2015-06-12', 71.0),
 ('2015-06-13', 79.0),
 ('2015-06-14', 79.0),
 ('2015-06-15', 76.0),
 ('2015-06-16', 75.0),
 ('2015-06-17', 72.0),
 ('2015-06-18', 74.0),
 ('2015-06-19', 76.0),
 ('2015-06-20', 76.0),
 ('2015-06-21', 77.0),
 ('2015-06-22', 75.0),
 ('2015-06-23', 76.0),
 ('2015-06-24', 75.0),
 ('2015-06-25', 75.0),
 ('2015-06-26', 76.0),
 ('2015-06-27', 76.0),
 ('2015-06-29', 74.0),
 ('2016-06-01', 70.0),
 ('2016-06-02', 69.0),
 ('2016-06-03', 70.0),
 ('2016-06-04', 68.0),
 ('2016-06-05', 70.0),
 ('2016-06-06', 74.0),
 ('2016-06-07', 75.0),
 ('2016-06-08', 74.0),
 ('2016-06-09', 71.0),
 ('2016-06-10', 73.0),
 ('2016-06-11', 75.0),
 ('2016-06-12', 74.0),
 ('2016-06-13', 76.0),
 ('2016-06-14', 76.0),
 ('2016-06-15', 76.0),
 ('2016-06-16', 76.0),
 ('2016-06-17', 75.0),
 ('2016-06-18', 75.0),
 ('2016-06-19', 75.0),
 ('2016-06-20', 74.0),
 ('2016-06-21', 73.0),
 ('2016-06-22', 76.0),
 ('2016-06-23', 74.0),
 ('2016-06-24', 78.0),
 ('2016-06-25', 71.0),
 ('2016-06-26', 75.0),
 ('2016-06-27', 75.0),
 ('2016-06-28', 74.0),
 ('2016-06-29', 77.0),
 ('2016-06-30', 77.0),
 ('2017-06-01', 76.0),
 ('2017-06-02', 76.0),
 ('2017-06-03', 76.0),
 ('2017-06-04', 78.0),
 ('2017-06-05', 76.0),
 ('2017-06-06', 75.0),
 ('2017-06-07', 75.0),
 ('2017-06-08', 76.0),
 ('2017-06-09', 78.0),
 ('2017-06-10', 75.0),
 ('2017-06-11', 73.0),
 ('2017-06-12', 76.0),
 ('2017-06-13', 76.0),
 ('2017-06-14', 76.0),
 ('2017-06-15', 77.0),
 ('2017-06-16', 76.0),
 ('2017-06-17', 77.0),
 ('2017-06-18', 72.0),
 ('2017-06-19', 77.0),
 ('2017-06-20', 75.0),
 ('2017-06-21', 82.0),
 ('2017-06-22', 77.0),
 ('2017-06-23', 76.0),
 ('2017-06-24', 74.0),
 ('2017-06-25', 73.0),
 ('2017-06-26', 77.0),
 ('2017-06-27', 77.0),
 ('2017-06-28', 77.0),
 ('2017-06-29', 76.0),
 ('2017-06-30', 74.0),
 ('2010-06-01', 73.0),
 ('2010-06-02', 72.0),
 ('2010-06-03', 74.0),
 ('2010-06-04', 73.0),
 ('2010-06-05', 72.0),
 ('2010-06-06', 75.0),
 ('2010-06-07', 74.0),
 ('2010-06-08', 75.0),
 ('2010-06-09', 73.0),
 ('2010-06-10', 75.0),
 ('2010-06-11', 76.0),
 ('2010-06-12', 74.0),
 ('2010-06-13', 74.0),
 ('2010-06-14', 73.0),
 ('2010-06-15', 73.0),
 ('2010-06-16', 76.0),
 ('2010-06-17', 75.0),
 ('2010-06-18', 70.0),
 ('2010-06-19', 75.0),
 ('2010-06-20', 73.0),
 ('2010-06-21', 74.0),
 ('2010-06-22', 74.0),
 ('2010-06-23', 74.0),
 ('2010-06-24', 74.0),
 ('2010-06-25', 70.0),
 ('2010-06-27', 75.0),
 ('2010-06-28', 74.0),
 ('2010-06-29', 73.0),
 ('2010-06-30', 74.0),
 ('2011-06-01', 72.0),
 ('2011-06-02', 73.0),
 ('2011-06-03', 67.0),
 ('2011-06-04', 69.0),
 ('2011-06-05', 76.0),
 ('2011-06-06', 73.0),
 ('2011-06-07', 70.0),
 ('2011-06-08', 72.0),
 ('2011-06-09', 74.0),
 ('2011-06-10', 72.0),
 ('2011-06-13', 72.0),
 ('2011-06-14', 75.0),
 ('2011-06-15', 73.0),
 ('2011-06-16', 73.0),
 ('2011-06-17', 72.0),
 ('2011-06-18', 74.0),
 ('2011-06-19', 76.0),
 ('2011-06-21', 72.0),
 ('2011-06-22', 74.0),
 ('2011-06-23', 70.0),
 ('2011-06-24', 74.0),
 ('2011-06-25', 74.0),
 ('2011-06-27', 74.0),
 ('2011-06-28', 71.0),
 ('2012-06-21', 75.0),
 ('2012-06-22', 75.0),
 ('2012-06-24', 76.0),
 ('2012-06-25', 77.0),
 ('2012-06-26', 75.0),
 ('2012-06-27', 74.0),
 ('2012-06-28', 75.0),
 ('2012-06-29', 76.0),
 ('2012-06-30', 78.0),
 ('2013-06-03', 78.0),
 ('2013-06-04', 76.0),
 ('2013-06-05', 78.0),
 ('2013-06-06', 76.0),
 ('2013-06-07', 76.0),
 ('2013-06-08', 78.0),
 ('2013-06-09', 79.0),
 ('2013-06-10', 77.0),
 ('2013-06-11', 76.0),
 ('2013-06-12', 77.0),
 ('2013-06-13', 77.0),
 ('2013-06-14', 76.0),
 ('2013-06-16', 78.0),
 ('2013-06-17', 76.0),
 ('2013-06-18', 76.0),
 ('2013-06-19', 77.0),
 ('2013-06-20', 71.0),
 ('2013-06-25', 74.0),
 ('2013-06-26', 72.0),
 ('2013-06-27', 77.0),
 ('2014-06-01', 77.0),
 ('2014-06-02', 78.0),
 ('2014-06-03', 77.0),
 ('2014-06-04', 77.0),
 ('2014-06-05', 76.0),
 ('2014-06-06', 75.0),
 ('2014-06-07', 79.0),
 ('2014-06-09', 75.0),
 ('2014-06-10', 73.0),
 ('2014-06-11', 76.0),
 ('2014-06-12', 78.0),
 ('2014-06-13', 77.0),
 ('2014-06-14', 78.0),
 ('2014-06-16', 76.0),
 ('2014-06-17', 75.0),
 ('2014-06-18', 76.0),
 ('2014-06-19', 77.0),
 ('2014-06-20', 74.0),
 ('2014-06-21', 78.0),
 ('2014-06-23', 77.0),
 ('2014-06-24', 77.0),
 ('2014-06-25', 74.0),
 ('2014-06-26', 74.0),
 ('2014-06-27', 78.0),
 ('2014-06-29', 79.0),
 ('2014-06-30', 79.0),
 ('2015-06-01', 78.0),
 ('2015-06-03', 75.0),
 ('2015-06-04', 76.0),
 ('2015-06-05', 78.0),
 ('2015-06-06', 78.0),
 ('2015-06-08', 74.0),
 ('2015-06-09', 78.0),
 ('2015-06-10', 77.0),
 ('2015-06-11', 76.0),
 ('2015-06-12', 78.0),
 ('2015-06-14', 78.0),
 ('2015-06-15', 78.0),
 ('2015-06-16', 78.0),
 ('2015-06-17', 74.0),
 ('2015-06-18', 79.0),
 ('2015-06-19', 77.0),
 ('2015-06-20', 73.0),
 ('2015-06-21', 79.0),
 ('2015-06-22', 79.0),
 ('2015-06-23', 78.0),
 ('2015-06-24', 77.0),
 ('2015-06-25', 78.0),
 ('2015-06-26', 78.0),
 ('2015-06-27', 80.0),
 ('2015-06-28', 80.0),
 ('2015-06-29', 79.0),
 ('2015-06-30', 74.0),
 ('2016-06-01', 71.0),
 ('2016-06-02', 74.0),
 ('2016-06-03', 75.0),
 ('2016-06-07', 75.0),
 ('2016-06-08', 74.0),
 ('2016-06-09', 76.0),
 ('2016-06-10', 75.0),
 ('2016-06-11', 77.0),
 ('2016-06-12', 77.0),
 ('2016-06-13', 79.0),
 ('2016-06-14', 79.0),
 ('2016-06-15', 78.0),
 ('2016-06-16', 79.0),
 ('2016-06-17', 73.0),
 ('2016-06-18', 78.0),
 ('2016-06-19', 79.0),
 ('2016-06-20', 80.0),
 ('2016-06-21', 76.0),
 ('2016-06-22', 79.0),
 ('2016-06-23', 79.0),
 ('2016-06-24', 77.0),
 ('2016-06-25', 80.0),
 ('2016-06-26', 79.0),
 ('2016-06-27', 78.0),
 ('2016-06-28', 78.0),
 ('2016-06-29', 79.0),
 ('2016-06-30', 78.0),
 ('2017-06-01', 81.0),
 ('2017-06-02', 78.0),
 ('2017-06-03', 80.0),
 ('2017-06-04', 79.0),
 ('2017-06-05', 81.0),
 ('2017-06-06', 80.0),
 ('2017-06-07', 81.0),
 ('2017-06-08', 79.0),
 ('2017-06-09', 81.0),
 ('2017-06-10', 78.0),
 ('2017-06-11', 79.0),
 ('2017-06-12', 79.0),
 ('2017-06-13', 75.0),
 ('2017-06-14', 79.0),
 ('2017-06-15', 78.0),
 ('2017-06-16', 80.0),
 ('2017-06-17', 78.0),
 ('2017-06-18', 77.0),
 ('2017-06-19', 78.0),
 ('2017-06-20', 79.0),
 ('2017-06-23', 76.0),
 ('2017-06-26', 80.0),
 ('2017-06-29', 76.0),
 ('2017-06-30', 81.0),
 ('2010-06-01', 77.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 77.0),
 ('2010-06-04', 75.0),
 ('2010-06-07', 76.0),
 ('2010-06-08', 79.0),
 ('2010-06-09', 79.0),
 ('2010-06-10', 77.0),
 ('2010-06-15', 76.0),
 ('2010-06-16', 77.0),
 ('2010-06-17', 76.0),
 ('2010-06-18', 73.0),
 ('2010-06-21', 76.0),
 ('2010-06-22', 77.0),
 ('2010-06-23', 77.0),
 ('2010-06-24', 78.0),
 ('2010-06-25', 77.0),
 ('2010-06-28', 76.0),
 ('2010-06-29', 78.0),
 ('2010-06-30', 78.0),
 ('2011-06-01', 75.0),
 ('2011-06-02', 77.0),
 ('2011-06-03', 65.0),
 ('2011-06-06', 76.0),
 ('2011-06-07', 74.0),
 ('2011-06-08', 76.0),
 ('2011-06-09', 76.0),
 ('2011-06-13', 77.0),
 ('2011-06-14', 77.0),
 ('2011-06-15', 76.0),
 ('2011-06-16', 77.0),
 ('2011-06-17', 76.0),
 ('2011-06-20', 77.0),
 ('2011-06-21', 74.0),
 ('2011-06-22', 76.0),
 ('2011-06-23', 73.0),
 ('2011-06-24', 75.0),
 ('2011-06-27', 76.0),
 ('2011-06-28', 75.0),
 ('2011-06-29', 76.0),
 ('2011-06-30', 75.0),
 ('2012-06-01', 74.0),
 ('2012-06-04', 74.0),
 ('2012-06-05', 74.0),
 ('2012-06-06', 74.0),
 ('2012-06-07', 76.0),
 ('2012-06-08', 76.0),
 ('2012-06-12', 77.0),
 ('2012-06-13', 77.0),
 ('2012-06-14', 78.0),
 ('2012-06-15', 73.0),
 ('2012-06-18', 75.0),
 ('2012-06-19', 72.0),
 ('2012-06-20', 76.0),
 ('2012-06-21', 76.0),
 ('2012-06-22', 73.0),
 ('2012-06-25', 74.0),
 ('2012-06-26', 72.0),
 ('2012-06-27', 76.0),
 ('2012-06-28', 76.0),
 ('2012-06-29', 76.0),
 ('2013-06-03', 78.0),
 ('2013-06-04', 78.0),
 ('2013-06-05', 78.0),
 ('2013-06-06', 78.0),
 ('2013-06-07', 75.0),
 ('2013-06-10', 77.0),
 ('2013-06-12', 73.0),
 ('2013-06-13', 78.0),
 ('2013-06-14', 75.0),
 ('2013-06-17', 73.0),
 ('2013-06-18', 77.0),
 ('2013-06-19', 80.0),
 ('2013-06-20', 70.0),
 ('2013-06-21', 78.0),
 ('2013-06-25', 72.0),
 ('2013-06-26', 78.0),
 ('2013-06-27', 72.0),
 ('2013-06-28', 78.0),
 ('2014-06-02', 77.0),
 ('2014-06-03', 79.0),
 ('2014-06-04', 77.0),
 ('2014-06-05', 78.0),
 ('2014-06-06', 74.0),
 ('2014-06-09', 79.0),
 ('2014-06-10', 79.0),
 ('2014-06-12', 79.0),
 ('2014-06-13', 79.0),
 ('2014-06-16', 77.0),
 ('2014-06-17', 79.0),
 ('2014-06-18', 78.0),
 ('2014-06-19', 80.0),
 ('2014-06-20', 81.0),
 ('2014-06-27', 81.0),
 ('2015-06-10', 78.0),
 ('2015-06-12', 77.0),
 ('2015-06-15', 78.0),
 ('2015-06-16', 79.0),
 ('2015-06-17', 77.0),
 ('2015-06-18', 79.0),
 ('2015-06-19', 80.0),
 ('2015-06-22', 79.0),
 ('2015-06-23', 78.0),
 ('2015-06-24', 79.0),
 ('2015-06-25', 79.0),
 ('2015-06-29', 79.0),
 ('2015-06-30', 81.0),
 ('2016-06-01', 64.0),
 ('2016-06-02', 65.0),
 ('2016-06-03', 75.0),
 ('2016-06-06', 76.0),
 ('2016-06-07', 78.0),
 ('2016-06-08', 77.0),
 ('2016-06-09', 75.0),
 ('2016-06-13', 78.0),
 ('2016-06-14', 81.0),
 ('2016-06-15', 78.0),
 ('2016-06-16', 76.0),
 ('2016-06-17', 73.0),
 ('2016-06-20', 74.0),
 ('2016-06-21', 76.0),
 ('2016-06-22', 78.0),
 ('2016-06-23', 79.0),
 ('2016-06-24', 78.0),
 ('2016-06-27', 72.0),
 ('2016-06-28', 78.0),
 ('2016-06-29', 80.0),
 ('2016-06-30', 81.0),
 ('2017-06-02', 79.0),
 ('2017-06-05', 78.0),
 ('2017-06-06', 80.0),
 ('2017-06-07', 80.0),
 ('2017-06-08', 78.0),
 ('2017-06-09', 80.0),
 ('2017-06-13', 81.0),
 ('2017-06-14', 78.0),
 ('2017-06-15', 77.0),
 ('2017-06-16', 78.0),
 ('2017-06-19', 78.0),
 ('2017-06-20', 77.0),
 ('2017-06-21', 76.0),
 ('2017-06-22', 81.0),
 ('2017-06-23', 76.0),
 ('2017-06-26', 82.0),
 ('2017-06-27', 80.0),
 ('2017-06-28', 80.0),
 ('2017-06-29', 79.0),
 ('2017-06-30', 74.0),
 ('2010-06-01', 69.0),
 ('2010-06-02', 70.0),
 ('2010-06-03', 67.0),
 ('2010-06-04', 70.0),
 ('2010-06-05', 73.0),
 ('2010-06-06', 73.0),
 ('2010-06-09', 72.0),
 ('2010-06-10', 72.0),
 ('2010-06-11', 77.0),
 ('2010-06-12', 70.0),
 ('2010-06-13', 78.0),
 ('2010-06-15', 73.0),
 ('2010-06-17', 75.0),
 ('2010-06-18', 70.0),
 ('2010-06-19', 74.0),
 ('2010-06-20', 77.0),
 ('2010-06-22', 69.0),
 ('2010-06-23', 73.0),
 ('2010-06-24', 73.0),
 ('2010-06-25', 74.0),
 ('2010-06-28', 73.0),
 ('2010-06-29', 72.0),
 ('2010-06-30', 75.0),
 ('2011-06-08', 73.0),
 ('2011-06-09', 76.0),
 ('2011-06-12', 74.0),
 ('2011-06-13', 76.0),
 ('2011-06-14', 73.0),
 ('2011-06-15', 76.0),
 ('2011-06-16', 76.0),
 ('2011-06-20', 78.0),
 ('2011-06-21', 75.0),
 ('2011-06-22', 77.0),
 ('2012-06-01', 75.0),
 ('2012-06-14', 73.0),
 ('2012-06-21', 76.0),
 ('2012-06-26', 71.0),
 ('2012-06-29', 71.0),
 ('2010-06-01', 76.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 76.0),
 ('2010-06-04', 73.0),
 ('2010-06-05', 78.0),
 ('2010-06-06', 77.0),
 ('2010-06-07', 77.0),
 ('2010-06-08', 77.0),
 ('2010-06-09', 78.0),
 ('2010-06-10', 78.0),
 ('2010-06-11', 76.0),
 ('2010-06-12', 76.0),
 ('2010-06-13', 79.0),
 ('2010-06-14', 74.0),
 ('2010-06-15', 75.0),
 ('2010-06-16', 76.0),
 ('2010-06-17', 75.0),
 ('2010-06-18', 73.0),
 ('2010-06-19', 76.0),
 ('2010-06-20', 78.0),
 ('2010-06-21', 76.0),
 ('2010-06-22', 79.0),
 ('2010-06-23', 77.0),
 ('2010-06-24', 76.0),
 ('2010-06-25', 74.0),

In [11]:
pythonic_df = pd.DataFrame(results, columns = ["Date", "tobs"])
pythonic_df.head()

         Date  tobs
0  2010-06-01  78.0
1  2010-06-02  76.0
2  2010-06-03  78.0
3  2010-06-04  76.0
4  2010-06-05  77.0

In [12]:
len(pythonic_df)

1700

In [13]:
pythonic_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [82]:
# 1. Import the sqlalchemy extract function.
# from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
conn = engine.connect()
query = '''
    select * from Measurement
    where date like "%-06-%"
    '''
df = pd.read_sql(query, conn)
df.head()

    id      station        date  prcp  tobs
0  134  USC00519397  2010-06-01  0.00  78.0
1  135  USC00519397  2010-06-02  0.01  76.0
2  136  USC00519397  2010-06-03  0.00  78.0
3  137  USC00519397  2010-06-04  0.00  76.0
4  138  USC00519397  2010-06-05  0.00  77.0

In [83]:
#  3. Convert the June temperatures to a list.
june_temps = pd.DataFrame(df.tobs)

In [85]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps.rename(columns = {'tobs':'June Temps'}, inplace = True)

In [86]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [16]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec = session.query(Measurement.date, Measurement.tobs).
                      filter(func.strftime("%m", Measurement.date) == "12").all() 
results_dec

[('2010-12-01', 76.0),
 ('2010-12-03', 74.0),
 ('2010-12-04', 74.0),
 ('2010-12-06', 64.0),
 ('2010-12-07', 64.0),
 ('2010-12-08', 67.0),
 ('2010-12-09', 77.0),
 ('2010-12-10', 66.0),
 ('2010-12-11', 69.0),
 ('2010-12-12', 68.0),
 ('2010-12-13', 68.0),
 ('2010-12-14', 71.0),
 ('2010-12-15', 74.0),
 ('2010-12-16', 67.0),
 ('2010-12-17', 66.0),
 ('2010-12-18', 69.0),
 ('2010-12-19', 71.0),
 ('2010-12-23', 70.0),
 ('2010-12-24', 70.0),
 ('2010-12-26', 74.0),
 ('2010-12-27', 74.0),
 ('2010-12-28', 71.0),
 ('2010-12-29', 75.0),
 ('2010-12-30', 75.0),
 ('2010-12-31', 72.0),
 ('2011-12-01', 69.0),
 ('2011-12-02', 68.0),
 ('2011-12-03', 73.0),
 ('2011-12-04', 74.0),
 ('2011-12-05', 73.0),
 ('2011-12-06', 73.0),
 ('2011-12-07', 73.0),
 ('2011-12-08', 73.0),
 ('2011-12-09', 71.0),
 ('2011-12-10', 73.0),
 ('2011-12-11', 73.0),
 ('2011-12-12', 77.0),
 ('2011-12-13', 72.0),
 ('2011-12-14', 71.0),
 ('2011-12-15', 73.0),
 ('2011-12-16', 70.0),
 ('2011-12-17', 73.0),
 ('2011-12-18', 69.0),
 ('2011-12-19', 74.0),
 ('2011-12-20', 72.0),
 ('2011-12-21', 71.0),
 ('2011-12-22', 72.0),
 ('2011-12-23', 72.0),
 ('2011-12-24', 70.0),
 ('2011-12-25', 73.0),
 ('2011-12-26', 73.0),
 ('2011-12-27', 72.0),
 ('2011-12-28', 73.0),
 ('2011-12-29', 73.0),
 ('2011-12-30', 72.0),
 ('2011-12-31', 63.0),
 ('2012-12-01', 65.0),
 ('2012-12-02', 71.0),
 ('2012-12-03', 76.0),
 ('2012-12-04', 70.0),
 ('2012-12-05', 76.0),
 ('2012-12-06', 69.0),
 ('2012-12-07', 69.0),
 ('2012-12-08', 69.0),
 ('2012-12-09', 74.0),
 ('2012-12-10', 76.0),
 ('2012-12-11', 74.0),
 ('2012-12-12', 73.0),
 ('2012-12-13', 73.0),
 ('2012-12-14', 74.0),
 ('2012-12-15', 73.0),
 ('2012-12-16', 73.0),
 ('2012-12-17', 73.0),
 ('2012-12-18', 74.0),
 ('2012-12-19', 74.0),
 ('2012-12-20', 71.0),
 ('2012-12-21', 73.0),
 ('2012-12-22', 72.0),
 ('2012-12-23', 64.0),
 ('2012-12-24', 66.0),
 ('2012-12-26', 73.0),
 ('2012-12-27', 72.0),
 ('2012-12-28', 65.0),
 ('2012-12-29', 64.0),
 ('2012-12-30', 69.0),
 ('2012-12-31', 68.0),
 ('2013-12-01', 77.0),
 ('2013-12-02', 71.0),
 ('2013-12-03', 71.0),
 ('2013-12-04', 69.0),
 ('2013-12-05', 68.0),
 ('2013-12-06', 68.0),
 ('2013-12-07', 69.0),
 ('2013-12-08', 70.0),
 ('2013-12-09', 72.0),
 ('2013-12-10', 76.0),
 ('2013-12-11', 75.0),
 ('2013-12-12', 69.0),
 ('2013-12-13', 71.0),
 ('2013-12-14', 71.0),
 ('2013-12-15', 71.0),
 ('2013-12-16', 68.0),
 ('2013-12-17', 65.0),
 ('2013-12-18', 70.0),
 ('2013-12-19', 69.0),
 ('2013-12-20', 69.0),
 ('2013-12-21', 71.0),
 ('2013-12-22', 67.0),
 ('2013-12-23', 73.0),
 ('2013-12-24', 74.0),
 ('2013-12-25', 73.0),
 ('2013-12-26', 67.0),
 ('2013-12-27', 74.0),
 ('2013-12-28', 75.0),
 ('2013-12-29', 75.0),
 ('2013-12-30', 74.0),
 ('2013-12-31', 67.0),
 ('2014-12-01', 73.0),
 ('2014-12-02', 73.0),
 ('2014-12-03', 71.0),
 ('2014-12-04', 72.0),
 ('2014-12-05', 71.0),
 ('2014-12-06', 68.0),
 ('2014-12-07', 65.0),
 ('2014-12-08', 69.0),
 ('2014-12-09', 70.0),
 ('2014-12-10', 70.0),
 ('2014-12-11', 74.0),
 ('2014-12-12', 71.0),
 ('2014-12-13', 74.0),
 ('2014-12-14', 73.0),
 ('2014-12-15', 72.0),
 ('2014-12-16', 74.0),
 ('2014-12-17', 72.0),
 ('2014-12-18', 74.0),
 ('2014-12-19', 75.0),
 ('2014-12-20', 74.0),
 ('2014-12-21', 70.0),
 ('2014-12-22', 74.0),
 ('2014-12-23', 70.0),
 ('2014-12-24', 66.0),
 ('2014-12-25', 61.0),
 ('2014-12-26', 63.0),
 ('2014-12-27', 63.0),
 ('2014-12-28', 63.0),
 ('2014-12-29', 63.0),
 ('2014-12-30', 67.0),
 ('2014-12-31', 56.0),
 ('2015-12-01', 75.0),
 ('2015-12-02', 77.0),
 ('2015-12-03', 75.0),
 ('2015-12-04', 75.0),
 ('2015-12-05', 75.0),
 ('2015-12-06', 75.0),
 ('2015-12-07', 71.0),
 ('2015-12-08', 70.0),
 ('2015-12-09', 74.0),
 ('2015-12-10', 74.0),
 ('2015-12-11', 75.0),
 ('2015-12-12', 72.0),
 ('2015-12-13', 70.0),
 ('2015-12-14', 66.0),
 ('2015-12-15', 74.0),
 ('2015-12-16', 75.0),
 ('2015-12-17', 74.0),
 ('2015-12-18', 75.0),
 ('2015-12-19', 76.0),
 ('2015-12-20', 74.0),
 ('2015-12-21', 75.0),
 ('2015-12-22', 74.0),
 ('2015-12-23', 73.0),
 ('2015-12-24', 68.0),
 ('2015-12-25', 73.0),
 ('2015-12-26', 74.0),
 ('2015-12-27', 74.0),
 ('2015-12-28', 77.0),
 ('2015-12-29', 70.0),
 ('2015-12-30', 70.0),
 ('2015-12-31', 69.0),
 ('2016-12-01', 75.0),
 ('2016-12-02', 72.0),
 ('2016-12-03', 69.0),
 ('2016-12-04', 71.0),
 ('2016-12-05', 68.0),
 ('2016-12-06', 67.0),
 ('2016-12-07', 69.0),
 ('2016-12-08', 73.0),
 ('2016-12-09', 70.0),
 ('2016-12-10', 70.0),
 ('2016-12-11', 70.0),
 ('2016-12-12', 66.0),
 ('2016-12-13', 67.0),
 ('2016-12-14', 70.0),
 ('2016-12-15', 66.0),
 ('2016-12-16', 62.0),
 ('2016-12-17', 71.0),
 ('2016-12-18', 73.0),
 ('2016-12-19', 69.0),
 ('2016-12-20', 77.0),
 ('2016-12-21', 74.0),
 ('2016-12-22', 71.0),
 ('2016-12-23', 72.0),
 ('2016-12-24', 74.0),
 ('2016-12-25', 74.0),
 ('2016-12-26', 74.0),
 ('2016-12-27', 74.0),
 ('2016-12-28', 71.0),
 ('2016-12-29', 73.0),
 ('2016-12-30', 69.0),
 ('2016-12-31', 66.0),
 ('2010-12-01', 73.0),
 ('2010-12-02', 72.0),
 ('2010-12-03', 73.0),
 ('2010-12-04', 74.0),
 ('2010-12-05', 73.0),
 ('2010-12-06', 66.0),
 ('2010-12-07', 64.0),
 ('2010-12-08', 66.0),
 ('2010-12-09', 75.0),
 ('2010-12-10', 65.0),
 ('2010-12-11', 69.0),
 ('2010-12-12', 71.0),
 ('2010-12-13', 69.0),
 ('2010-12-14', 78.0),
 ('2010-12-15', 74.0),
 ('2010-12-16', 68.0),
 ('2010-12-17', 68.0),
 ('2010-12-18', 70.0),
 ('2010-12-19', 70.0),
 ('2010-12-20', 71.0),
 ('2010-12-21', 71.0),
 ('2010-12-22', 71.0),
 ('2010-12-23', 71.0),
 ('2010-12-24', 69.0),
 ('2010-12-25', 69.0),
 ('2010-12-26', 72.0),
 ('2010-12-27', 76.0),
 ('2010-12-28', 72.0),
 ('2010-12-29', 73.0),
 ('2010-12-30', 73.0),
 ('2010-12-31', 74.0),
 ('2011-12-01', 69.0),
 ('2011-12-02', 68.0),
 ('2011-12-03', 74.0),
 ('2011-12-04', 73.0),
 ('2011-12-05', 73.0),
 ('2011-12-06', 72.0),
 ('2011-12-07', 71.0),
 ('2011-12-08', 71.0),
 ('2011-12-09', 68.0),
 ('2011-12-10', 72.0),
 ('2011-12-11', 71.0),
 ('2011-12-12', 72.0),
 ('2011-12-13', 71.0),
 ('2011-12-14', 71.0),
 ('2011-12-15', 72.0),
 ('2011-12-16', 71.0),
 ('2011-12-17', 71.0),
 ('2011-12-18', 72.0),
 ('2011-12-19', 72.0),
 ('2011-12-20', 72.0),
 ('2011-12-21', 69.0),
 ('2011-12-22', 71.0),
 ('2011-12-23', 71.0),
 ('2011-12-24', 69.0),
 ('2011-12-25', 74.0),
 ('2011-12-26', 72.0),
 ('2011-12-27', 71.0),
 ('2011-12-28', 71.0),
 ('2011-12-29', 72.0),
 ('2011-12-30', 71.0),
 ('2011-12-31', 67.0),
 ('2012-12-01', 65.0),
 ('2012-12-02', 70.0),
 ('2012-12-03', 76.0),
 ('2012-12-04', 68.0),
 ('2012-12-05', 71.0),
 ('2012-12-06', 71.0),
 ('2012-12-07', 68.0),
 ('2012-12-08', 70.0),
 ('2012-12-09', 73.0),
 ('2012-12-10', 73.0),
 ('2012-12-11', 72.0),
 ('2012-12-12', 71.0),
 ('2012-12-13', 70.0),
 ('2012-12-14', 72.0),
 ('2012-12-15', 71.0),
 ('2012-12-16', 72.0),
 ('2012-12-17', 72.0),
 ('2012-12-18', 71.0),
 ('2012-12-19', 70.0),
 ('2012-12-20', 71.0),
 ('2012-12-21', 71.0),
 ('2012-12-22', 71.0),
 ('2012-12-23', 66.0),
 ('2012-12-24', 65.0),
 ('2012-12-25', 73.0),
 ('2012-12-26', 72.0),
 ('2012-12-27', 72.0),
 ('2012-12-28', 65.0),
 ('2012-12-29', 65.0),
 ('2012-12-30', 68.0),
 ('2012-12-31', 67.0),
 ('2013-12-01', 76.0),
 ('2013-12-02', 70.0),
 ('2013-12-03', 71.0),
 ('2013-12-04', 69.0),
 ('2013-12-05', 67.0),
 ('2013-12-06', 69.0),
 ('2013-12-07', 71.0),
 ('2013-12-08', 69.0),
 ('2013-12-09', 72.0),
 ('2013-12-10', 76.0),
 ('2013-12-11', 75.0),
 ('2013-12-12', 72.0),
 ('2013-12-13', 75.0),
 ('2013-12-14', 71.0),
 ('2013-12-15', 69.0),
 ('2013-12-16', 68.0),
 ('2013-12-17', 68.0),
 ('2013-12-18', 72.0),
 ('2013-12-19', 70.0),
 ('2013-12-20', 72.0),
 ('2013-12-21', 75.0),
 ('2013-12-22', 69.0),
 ('2013-12-23', 72.0),
 ('2013-12-24', 73.0),
 ('2013-12-25', 73.0),
 ('2013-12-26', 72.0),
 ('2013-12-27', 73.0),
 ('2013-12-28', 74.0),
 ('2013-12-29', 73.0),
 ('2013-12-30', 72.0),
 ('2013-12-31', 68.0),
 ('2014-12-01', 72.0),
 ('2014-12-02', 71.0),
 ('2014-12-03', 69.0),
 ('2014-12-04', 67.0),
 ('2014-12-05', 70.0),
 ('2014-12-06', 72.0),
 ('2014-12-07', 67.0),
 ('2014-12-08', 67.0),
 ('2014-12-09', 69.0),
 ('2014-12-10', 67.0),
 ('2014-12-11', 74.0),
 ('2014-12-12', 70.0),
 ('2014-12-13', 73.0),
 ('2014-12-14', 71.0),
 ('2014-12-15', 71.0),
 ('2014-12-16', 71.0),
 ('2014-12-17', 71.0),
 ('2014-12-18', 72.0),
 ('2014-12-19', 76.0),
 ('2014-12-20', 78.0),
 ('2014-12-21', 76.0),
 ('2014-12-22', 73.0),
 ('2014-12-23', 70.0),
 ('2014-12-24', 68.0),
 ('2014-12-25', 77.0),
 ('2014-12-26', 66.0),
 ('2014-12-27', 65.0),
 ('2014-12-28', 69.0),
 ('2014-12-29', 69.0),
 ('2014-12-30', 66.0),
 ('2014-12-31', 64.0),
 ('2015-12-02', 74.0),
 ('2015-12-03', 75.0),
 ('2015-12-04', 80.0),
 ('2015-12-05', 72.0),
 ('2015-12-06', 73.0),
 ('2015-12-07', 70.0),
 ('2015-12-08', 69.0),
 ('2015-12-09', 77.0),
 ('2015-12-10', 74.0),
 ('2015-12-11', 77.0),
 ('2015-12-12', 72.0),
 ('2015-12-13', 69.0),
 ('2015-12-14', 69.0),
 ('2015-12-15', 75.0),
 ('2015-12-16', 75.0),
 ('2015-12-17', 72.0),
 ('2015-12-18', 73.0),
 ('2015-12-19', 78.0),
 ('2015-12-20', 75.0),
 ('2015-12-21', 75.0),
 ('2015-12-22', 74.0),
 ('2015-12-23', 73.0),
 ('2015-12-24', 70.0),
 ('2015-12-25', 70.0),
 ('2015-12-26', 72.0),
 ('2015-12-27', 74.0),
 ('2015-12-28', 74.0),
 ('2015-12-29', 67.0),
 ('2015-12-30', 74.0),
 ('2015-12-31', 70.0),
 ('2016-12-01', 73.0),
 ('2016-12-02', 71.0),
 ('2016-12-03', 71.0),
 ('2016-12-04', 69.0),
 ('2016-12-05', 68.0),
 ('2016-12-06', 70.0),
 ('2016-12-07', 71.0),
 ('2016-12-08', 72.0),
 ('2016-12-09', 70.0),
 ('2016-12-10', 71.0),
 ('2016-12-11', 72.0),
 ('2016-12-12', 68.0),
 ('2016-12-13', 68.0),
 ('2016-12-14', 70.0),
 ('2016-12-15', 70.0),
 ('2016-12-16', 63.0),
 ('2016-12-17', 71.0),
 ('2016-12-18', 67.0),
 ('2016-12-19', 69.0),
 ('2016-12-20', 74.0),
 ('2016-12-21', 72.0),
 ('2016-12-22', 70.0),
 ('2016-12-23', 69.0),
 ('2016-12-24', 73.0),
 ('2016-12-25', 74.0),
 ('2016-12-26', 74.0),
 ('2016-12-27', 73.0),
 ('2016-12-28', 71.0),
 ('2016-12-29', 72.0),
 ('2016-12-30', 69.0),
 ('2016-12-31', 71.0),
 ('2010-12-01', 73.0),
 ('2010-12-02', 73.0),
 ('2010-12-03', 71.0),
 ('2010-12-04', 72.0),
 ('2010-12-05', 71.0),
 ('2010-12-06', 64.0),
 ('2010-12-07', 71.0),
 ('2010-12-08', 62.0),
 ('2010-12-09', 70.0),
 ('2010-12-10', 64.0),
 ('2010-12-11', 64.0),
 ('2010-12-12', 70.0),
 ('2010-12-13', 70.0),
 ('2010-12-14', 69.0),
 ('2010-12-15', 72.0),
 ('2010-12-16', 68.0),
 ('2010-12-17', 68.0),
 ('2010-12-18', 65.0),
 ('2010-12-19', 67.0),
 ('2010-12-20', 68.0),
 ('2010-12-21', 70.0),
 ('2010-12-22', 67.0),
 ('2010-12-23', 73.0),
 ('2010-12-24', 70.0),
 ('2010-12-26', 68.0),
 ('2010-12-27', 72.0),
 ('2010-12-28', 69.0),
 ('2010-12-29', 71.0),
 ('2010-12-30', 70.0),
 ('2010-12-31', 75.0),
 ('2011-12-01', 70.0),
 ('2011-12-02', 68.0),
 ('2011-12-03', 73.0),
 ('2011-12-04', 71.0),
 ('2011-12-05', 71.0),
 ('2011-12-06', 70.0),
 ('2011-12-07', 70.0),
 ('2011-12-08', 70.0),
 ('2011-12-09', 70.0),
 ('2011-12-10', 72.0),
 ('2011-12-12', 74.0),
 ('2011-12-13', 71.0),
 ('2011-12-14', 70.0),
 ('2011-12-15', 70.0),
 ('2011-12-16', 69.0),
 ('2011-12-18', 71.0),
 ('2011-12-19', 70.0),
 ('2011-12-20', 70.0),
 ('2011-12-21', 72.0),
 ('2011-12-22', 72.0),
 ('2011-12-24', 72.0),
 ('2011-12-26', 72.0),
 ('2011-12-27', 72.0),
 ('2011-12-29', 70.0),
 ('2011-12-30', 66.0),
 ('2011-12-31', 71.0),
 ('2012-12-01', 68.0),
 ('2012-12-03', 79.0),
 ('2012-12-04', 76.0),
 ('2012-12-05', 73.0),
 ('2012-12-06', 75.0),
 ('2012-12-07', 71.0),
 ('2012-12-10', 76.0),
 ('2012-12-11', 74.0),
 ('2012-12-12', 73.0),
 ('2012-12-13', 73.0),
 ('2012-12-14', 74.0),
 ('2012-12-17', 73.0),
 ('2012-12-18', 72.0),
 ('2012-12-19', 76.0),
 ('2012-12-21', 75.0),
 ('2012-12-22', 77.0),
 ('2012-12-24', 74.0),
 ('2012-12-26', 76.0),
 ('2012-12-28', 75.0),
 ('2012-12-31', 76.0),
 ('2013-12-02', 73.0),
 ('2013-12-03', 75.0),
 ('2013-12-04', 73.0),
 ('2013-12-05', 73.0),
 ('2013-12-06', 74.0),
 ('2013-12-07', 78.0),
 ('2013-12-08', 78.0),
 ('2013-12-09', 78.0),
 ('2013-12-10', 75.0),
 ('2013-12-11', 75.0),
 ('2013-12-12', 75.0),
 ('2013-12-13', 74.0),
 ('2013-12-14', 77.0),
 ('2013-12-16', 72.0),
 ('2013-12-17', 72.0),
 ('2013-12-18', 73.0),
 ('2013-12-19', 71.0),
 ('2013-12-20', 75.0),
 ('2013-12-21', 76.0),
 ('2013-12-23', 74.0),
 ('2013-12-24', 75.0),
 ('2013-12-26', 74.0),
 ('2013-12-27', 75.0),
 ('2013-12-28', 73.0),
 ('2013-12-29', 72.0),
 ('2013-12-30', 72.0),
 ('2013-12-31', 75.0),
 ('2014-12-01', 74.0),
 ('2014-12-02', 74.0),
 ('2014-12-03', 72.0),
 ('2014-12-04', 73.0),
 ('2014-12-05', 70.0),
 ('2014-12-06', 76.0),
 ('2014-12-08', 78.0),
 ('2014-12-09', 76.0),
 ('2014-12-10', 78.0),
 ('2014-12-11', 74.0),
 ('2014-12-12', 71.0),
 ('2014-12-13', 78.0),
 ('2014-12-15', 70.0),
 ('2014-12-16', 74.0),
 ('2014-12-17', 74.0),
 ('2014-12-18', 75.0),
 ('2014-12-19', 76.0),
 ('2014-12-20', 78.0),
 ('2014-12-22', 72.0),
 ('2014-12-23', 73.0),
 ('2014-12-25', 76.0),
 ('2014-12-29', 72.0),
 ('2014-12-31', 72.0),
 ('2015-12-01', 78.0),
 ('2015-12-02', 76.0),
 ('2015-12-03', 76.0),
 ('2015-12-04', 77.0),
 ('2015-12-07', 79.0),
 ('2015-12-08', 73.0),
 ('2015-12-09', 79.0),
 ('2015-12-10', 77.0),
 ('2015-12-11', 78.0),
 ('2015-12-12', 76.0),
 ('2015-12-13', 78.0),
 ('2015-12-14', 77.0),
 ('2015-12-15', 79.0),
 ('2015-12-16', 75.0),
 ('2015-12-17', 77.0),
 ('2015-12-18', 76.0),
 ('2015-12-19', 78.0),
 ('2015-12-21', 78.0),
 ('2015-12-22', 77.0),
 ('2015-12-23', 78.0),
 ('2015-12-25', 78.0),
 ('2015-12-27', 76.0),
 ('2015-12-28', 75.0),
 ('2015-12-29', 72.0),
 ('2016-12-01', 75.0),
 ('2016-12-02', 77.0),
 ('2016-12-03', 75.0),
 ('2016-12-04', 77.0),
 ('2016-12-05', 76.0),
 ('2016-12-07', 76.0),
 ('2016-12-08', 75.0),
 ('2016-12-09', 72.0),
 ('2016-12-10', 76.0),
 ('2016-12-12', 75.0),
 ('2016-12-13', 72.0),
 ('2016-12-14', 72.0),
 ('2016-12-15', 75.0),
 ('2016-12-16', 69.0),
 ('2016-12-17', 75.0),
 ('2016-12-18', 74.0),
 ('2016-12-19', 78.0),
 ('2016-12-20', 77.0),
 ('2016-12-21', 76.0),
 ('2016-12-22', 72.0),
 ('2016-12-23', 73.0),
 ('2016-12-24', 74.0),
 ('2016-12-26', 74.0),
 ('2016-12-27', 74.0),
 ('2016-12-28', 73.0),
 ('2016-12-29', 73.0),
 ('2016-12-30', 71.0),
 ('2016-12-31', 72.0),
 ('2010-12-01', 72.0),
 ('2010-12-02', 75.0),
 ('2010-12-06', 66.0),
 ('2010-12-07', 66.0),
 ('2010-12-08', 67.0),
 ('2010-12-09', 76.0),
 ('2010-12-10', 68.0),
 ('2010-12-13', 69.0),
 ('2010-12-14', 71.0),
 ('2010-12-15', 70.0),
 ('2010-12-16', 68.0),
 ('2010-12-17', 66.0),
 ('2011-12-01', 69.0),
 ('2011-12-02', 69.0),
 ('2011-12-05', 71.0),
 ('2011-12-06', 72.0),
 ('2011-12-07', 69.0),
 ('2011-12-08', 72.0),
 ('2011-12-09', 70.0),
 ('2011-12-12', 76.0),
 ('2011-12-13', 69.0),
 ('2011-12-14', 71.0),
 ('2011-12-15', 72.0),
 ('2011-12-16', 71.0),
 ('2012-12-03', 78.0),
 ('2012-12-04', 73.0),
 ('2012-12-05', 74.0),
 ('2012-12-06', 68.0),
 ('2012-12-07', 71.0),
 ('2012-12-10', 76.0),
 ('2012-12-11', 75.0),
 ('2012-12-12', 74.0),
 ('2012-12-13', 73.0),
 ('2012-12-14', 73.0),
 ('2012-12-27', 74.0),
 ('2012-12-28', 69.0),
 ('2013-12-02', 74.0),
 ('2013-12-03', 72.0),
 ('2013-12-04', 70.0),
 ('2013-12-05', 67.0),
 ('2013-12-06', 69.0),
 ('2013-12-09', 73.0),
 ('2013-12-10', 75.0),
 ('2013-12-11', 74.0),
 ('2013-12-12', 72.0),
 ('2013-12-13', 71.0),
 ('2013-12-16', 67.0),
 ('2013-12-17', 74.0),
 ('2013-12-18', 70.0),
 ('2013-12-19', 70.0),
 ('2013-12-20', 70.0),
 ('2013-12-23', 71.0),
 ('2013-12-24', 70.0),
 ('2013-12-26', 71.0),
 ('2013-12-27', 71.0),
 ('2013-12-28', 68.0),
 ('2014-12-01', 74.0),
 ('2014-12-02', 75.0),
 ('2014-12-03', 74.0),
 ('2014-12-04', 77.0),
 ('2014-12-05', 76.0),
 ('2014-12-08', 77.0),
 ('2014-12-09', 75.0),
 ('2014-12-10', 76.0),
 ('2014-12-11', 75.0),
 ('2014-12-15', 77.0),
 ('2014-12-16', 75.0),
 ('2014-12-17', 77.0),
 ('2014-12-18', 74.0),
 ('2014-12-19', 78.0),
 ('2014-12-22', 77.0),
 ('2014-12-23', 76.0),
 ('2014-12-24', 69.0),
 ('2014-12-26', 70.0),
 ('2014-12-29', 64.0),
 ('2014-12-30', 75.0),
 ('2015-12-01', 69.0),
 ('2015-12-02', 65.0),
 ('2015-12-03', 76.0),
 ('2015-12-04', 81.0),
 ('2015-12-08', 71.0),
 ('2015-12-09', 71.0),
 ('2015-12-10', 71.0),
 ('2015-12-16', 82.0),
 ('2015-12-17', 74.0),
 ('2015-12-18', 75.0),
 ('2015-12-24', 77.0),
 ('2015-12-27', 74.0),
 ('2015-12-28', 68.0),
 ('2016-12-01', 72.0),
 ('2016-12-02', 70.0),
 ('2016-12-05', 68.0),
 ('2016-12-06', 74.0),
 ('2016-12-07', 71.0),
 ('2016-12-08', 70.0),
 ('2016-12-09', 70.0),
 ('2016-12-12', 70.0),
 ('2016-12-13', 68.0),
 ('2016-12-14', 68.0),
 ('2016-12-15', 68.0),
 ('2016-12-16', 66.0),
 ('2016-12-19', 71.0),
 ('2016-12-20', 76.0),
 ('2016-12-21', 73.0),
 ('2016-12-22', 70.0),
 ('2016-12-23', 68.0),
 ('2016-12-28', 71.0),
 ('2016-12-29', 71.0),
 ('2016-12-30', 68.0),
 ('2010-12-02', 71.0),
 ('2010-12-03', 70.0),
 ('2010-12-05', 73.0),
 ('2010-12-06', 78.0),
 ('2010-12-07', 76.0),
 ('2010-12-08', 73.0),
 ('2010-12-09', 74.0),
 ('2010-12-10', 63.0),
 ('2010-12-11', 72.0),
 ('2010-12-13', 75.0),
 ('2010-12-14', 74.0),
 ('2010-12-15', 72.0),
 ('2010-12-16', 68.0),
 ('2012-12-03', 74.0),
 ('2012-12-06', 73.0),
 ('2013-12-17', 73.0),
 ('2013-12-19', 72.0),
 ('2013-12-20', 73.0),
 ('2013-12-23', 72.0),
 ('2010-12-01', 78.0),
 ('2010-12-02', 74.0),
 ('2010-12-03', 74.0),
 ('2010-12-04', 78.0),
 ('2010-12-05', 78.0),
 ('2010-12-06', 61.0),
 ('2010-12-07', 69.0),
 ('2010-12-08', 65.0),
 ('2010-12-09', 77.0),
 ('2010-12-10', 67.0),
 ('2010-12-11', 69.0),
 ('2010-12-12', 75.0),
 ('2010-12-13', 67.0),
 ('2010-12-14', 71.0),
 ('2010-12-15', 74.0),
 ('2010-12-16', 66.0),
 ('2010-12-17', 66.0),
 ('2010-12-18', 77.0),
 ('2010-12-19', 70.0),
 ('2010-12-20', 73.0),
 ('2010-12-21', 71.0),
 ('2010-12-22', 71.0),
 ('2010-12-23', 71.0),
 ('2010-12-24', 67.0),
 ('2010-12-25', 71.0),
 ('2010-12-26', 74.0),
 ('2010-12-27', 76.0),
 ('2010-12-28', 72.0),
 ('2010-12-29', 74.0),
 ('2010-12-30', 75.0),
 ('2010-12-31', 69.0),
 ('2011-12-01', 69.0),
 ('2011-12-02', 69.0),
 ('2011-12-03', 75.0),
 ('2011-12-04', 73.0),
 ('2011-12-05', 73.0),
 ('2011-12-06', 72.0),
 ('2011-12-07', 72.0),
 ('2011-12-08', 72.0),
 ('2011-12-09', 74.0),
 ('2011-12-10', 72.0),
 ('2011-12-11', 73.0),
 ('2011-12-12', 73.0),
 ('2011-12-13', 73.0),
 ('2011-12-14', 73.0),
 ('2011-12-15', 74.0),
 ('2011-12-16', 73.0),
 ('2011-12-17', 71.0),
 ('2011-12-18', 72.0),
 ('2011-12-19', 73.0),
 ('2011-12-20', 74.0),
 ('2011-12-21', 72.0),
 ('2011-12-22', 73.0),
 ('2011-12-23', 73.0),
 ('2011-12-24', 71.0),
 ('2011-12-25', 73.0),
 ('2011-12-26', 75.0),
 ('2011-12-27', 71.0),
 ('2011-12-28', 72.0),
 ('2011-12-29', 73.0),
 ('2011-12-30', 71.0),
 ('2011-12-31', 65.0),
 ('2012-12-01', 77.0),
 ('2012-12-02', 72.0),
 ('2012-12-03', 78.0),
 ('2012-12-04', 71.0),
 ('2012-12-05', 72.0),
 ('2012-12-06', 71.0),
 ('2012-12-07', 72.0),
 ('2012-12-08', 76.0),
 ('2012-12-09', 75.0),
 ('2012-12-10', 75.0),
 ('2012-12-11', 76.0),
 ('2012-12-12', 73.0),
 ('2012-12-13', 72.0),
 ('2012-12-14', 74.0),
 ('2012-12-15', 74.0),
 ('2012-12-16', 74.0),
 ('2012-12-17', 73.0),
 ('2012-12-18', 77.0),
 ('2012-12-19', 73.0),
 ('2012-12-20', 70.0),
 ('2012-12-21', 72.0),
 ('2012-12-22', 76.0),
 ('2012-12-23', 65.0),
 ('2012-12-24', 74.0),
 ('2012-12-25', 73.0),
 ('2012-12-26', 77.0),
 ('2012-12-27', 76.0),
 ('2012-12-28', 69.0),
 ('2012-12-29', 78.0),
 ('2012-12-30', 76.0),
 ('2012-12-31', 68.0),
 ('2013-12-01', 76.0),
 ('2013-12-02', 68.0),
 ('2013-12-03', 79.0),
 ('2013-12-04', 69.0),
 ('2013-12-05', 64.0),
 ('2013-12-06', 70.0),
 ('2013-12-07', 69.0),
 ('2013-12-08', 73.0),
 ('2013-12-09', 70.0),
 ('2013-12-10', 74.0),
 ('2013-12-11', 76.0),
 ('2013-12-12', 76.0),
 ('2013-12-13', 69.0),
 ('2013-12-14', 73.0),
 ('2013-12-15', 73.0),
 ('2013-12-16', 65.0),
 ('2013-12-17', 70.0),
 ('2013-12-18', 72.0),
 ('2013-12-19', 72.0),
 ('2013-12-20', 75.0),
 ('2013-12-21', 74.0),
 ('2013-12-22', 69.0),
 ('2013-12-23', 73.0),
 ('2013-12-24', 75.0),
 ('2013-12-25', 76.0),
 ('2013-12-26', 74.0),
 ('2013-12-27', 73.0),
 ('2013-12-28', 74.0),
 ('2013-12-29', 71.0),
 ('2013-12-30', 72.0),
 ('2013-12-31', 73.0),
 ('2014-12-01', 72.0),
 ('2014-12-02', 72.0),
 ('2014-12-03', 73.0),
 ('2014-12-04', 72.0),
 ('2014-12-05', 75.0),
 ('2014-12-06', 76.0),
 ('2014-12-07', 67.0),
 ('2014-12-08', 69.0),
 ('2014-12-09', 70.0),
 ('2014-12-10', 75.0),
 ('2014-12-11', 74.0),
 ('2014-12-12', 71.0),
 ('2014-12-13', 74.0),

In [19]:
python_dec_df = pd.DataFrame(results_dec, columns = ["Date", "tobs"])
python_dec_df.head()

         Date  tobs
0  2010-12-01  76.0
1  2010-12-03  74.0
2  2010-12-04  74.0
3  2010-12-06  64.0
4  2010-12-07  64.0

In [20]:
python_dec_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [43]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
conn = engine.connect()
query = '''
    select * from Measurement
    where date like "%-12-%"
    '''
df = pd.read_sql(query, conn)
df.head()

    id      station        date  prcp  tobs
0  306  USC00519397  2010-12-01  0.04  76.0
1  307  USC00519397  2010-12-03  0.00  74.0
2  308  USC00519397  2010-12-04  0.00  74.0
3  309  USC00519397  2010-12-06  0.00  64.0
4  310  USC00519397  2010-12-07  0.00  64.0

In [88]:
# 7. Convert the December temperatures to a list.
dec_temps = pd.DataFrame(df.tobs)

In [89]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps.rename(columns = {'tobs':'December Temps'}, inplace = True)

In [90]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

### Extra Queries

In [52]:
conn = engine.connect()
query = '''
    select * from station;
    --limit 5;
    '''
df = pd.read_sql(query, conn)
df

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,6,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,7,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,8,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,9,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [58]:
conn = engine.connect()
query = '''
    select station, avg(tobs), avg(prcp)
    from Measurement m
    where date like "%-12-%"
    group by station;
    '''
df = pd.read_sql(query, conn)
df

       station  avg(tobs)  avg(prcp)
0  USC00511918  69.684211   0.138146
1  USC00513117  71.069444   0.203241
2  USC00514830  73.224719   0.154966
3  USC00516128  69.291262   0.507005
4  USC00517948  71.834862   0.152727
5  USC00518838  72.421053   0.638182
6  USC00519281  69.903226   0.244931
7  USC00519397  71.109524   0.075314
8  USC00519523  72.433333   0.162010

In [49]:
conn = engine.connect()
query = '''
    select station, avg(tobs), avg(prcp)
    from Measurement
    where date like "%-06-%"
    --left join Station s
    --    on (m.station = s.station)
    group by station;
    '''
df = pd.read_sql(query, conn)
df

       station  avg(tobs)  avg(prcp)
0  USC00511918  74.139394   0.015157
1  USC00513117  74.050847   0.118248
2  USC00514830  76.005376   0.114192
3  USC00516128  71.937220   0.495748
4  USC00517948  76.655405   0.057975
5  USC00518838  73.394737   0.094615
6  USC00519281  73.271186   0.151525
7  USC00519397  77.559322   0.022661
8  USC00519523  76.668103   0.050044

In [40]:
conn = engine.connect()
query = '''
    select station, avg(prcp)
    from Measurement
    where date like "%-06-%"
    --left join Station s
    --    on (m.station = s.station)
    group by station;
    '''
df = pd.read_sql(query, conn)
df.head()

       station  avg(prcp)
0  USC00511918   0.015157
1  USC00513117   0.118248
2  USC00514830   0.114192
3  USC00516128   0.495748
4  USC00517948   0.057975

In [41]:
conn = engine.connect()
query = '''
    select station, avg(prcp)
    from Measurement
    where date like "%-12-%"
    --left join Station s
    --    on (m.station = s.station)
    group by station;
    '''
df = pd.read_sql(query, conn)
df.head()

       station  avg(prcp)
0  USC00511918   0.138146
1  USC00513117   0.203241
2  USC00514830   0.154966
3  USC00516128   0.507005
4  USC00517948   0.152727

In [44]:
dec_prcp = pd.DataFrame(df.prcp)
dec_prcp.head()

   prcp
0  0.04
1  0.00
2  0.00
3  0.00
4  0.00

In [46]:
dec_prcp.describe()

              prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000